.contact-hero {
  background-image: url("/public/alhaj-background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.contact-hero h1,
.contact-hero p {
  z-index: 10;
}

.contact-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000082;
}
